{block content}
    <h1 n:block=title>Stránka nenalezena</h1>

    <p>Stránka kterou požadujete nebyla nalezena. Je možné že adresa je chybná, nebo již bohužel neexistuje.</p>

    <p><small>chyba 404</small></p>
{/block}
