<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{ifset title}{include title|stripHtml} | {/ifset}TMOU</title>

    <link rel="stylesheet" href="{$basePath}/assets/css/bootstrap.min.css">
    {if isset($hasDatagrid) && $hasDatagrid}
        <link rel="stylesheet" type="text/css" href="{$basePath}/assets/css/datagrid.css">
        <link rel="stylesheet" type="text/css" href="{$basePath}/assets/css/datagrid-spinners.css">
    {/if}
    {if isset($hasGlyphicons) && $hasGlyphicons}
        <link rel="stylesheet" href="{$basePath}/assets/fontawesome/css/all.css">
    {/if}
    {if isset($hasDatetimepicker) && $hasDatetimepicker}
        <link rel="stylesheet" href="{$basePath}/assets/css/bootstrap-datetimepicker.min.css">
    {/if}
</head>

<body>
    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

    <div class="game-clock" n:ifset="$currentTime">
        <span id="time" data-time="{$currentTime|date: 'U.u'}">{$currentTime|date: 'j. n. Y G:i:s'}</span>
        {if isset($gameClockChange) && $gameClockChange}
            {control gameClock}
        {/if}
    </div>
    <script>
    </script>

    {include content}

    {block scripts}
        <script src="{$basePath}/assets/js/jquery-3.4.0.min.js"></script>
        <script src="{$basePath}/assets/js/bootstrap.min.js"></script>
        <script src="{$basePath}/assets/js/netteForms.min.js"></script>
        <script src="{$basePath}/assets/js/nextras.netteForms.js"></script>
        {if isset($hasDatetimepicker) && $hasDatetimepicker}
            <script src="{$basePath}/assets/js/bootstrap-datetimepicker.min.js"></script>
            <script src="{$basePath}/assets/js/bootstrap-datetimepicker.cs.js"></script>
            <script src="{$basePath}/assets/js/nextras.datetimepicker.init.js"></script>
        {/if}
        <script src="{$basePath}/assets/js/nette.ajax.js"></script>
        <script src="{$basePath}/assets/js/clock.js"></script>
        <script>
            $.nette.init();
            init_clock('time');
        </script>
        {if isset($hasRecaptcha) && $hasRecaptcha}
            <script src="https://www.google.com/recaptcha/api.js?render=explicit"></script>
            <script src="{$basePath}/assets/js/invisibleRecaptcha.js"></script>
        {/if}
        {if isset($hasDatagrid) && $hasDatagrid}
            <script src="{$basePath}/assets/js/assets/datagrid.js"></script>
            <script src="{$basePath}/assets/js/assets/datagrid-instant-url-refresh.js"></script>
            <script src="{$basePath}/assets/js/assets/datagrid-spinners.js"></script>
        {/if}
    {/block}
</body>
</html>
