<li class="py-1 md:my-0  lg:hover:bg-transparent rounded-sm">
    <a href="{$link}" {if isset($title) && $title}title="{$title}"{/if} class="block pl-4 align-middle text-gray-700 no-underline hover:text-red-500 border-l-4 border-transparent {if isset($selected) && $selected}lg:border-black{/if} lg:hover:border-black {if isset($classes) && $classes}{$classes}{/if}">
        <span class="pb-1 md:pb-0 text-sm text-gray-900 font-black">{$label|noescape}</span>
    </a>
</li>
