<li class="py-1 md:my-0 hover:bg-purple-100 lg:hover:bg-transparent rounded-sm">
    <a href="{$link}" class="block pl-4 align-middle text-gray-700 no-underline hover:text-red-500 border-l-4 border-transparent {if isset($selected) && $selected}lg:border-black{/if} lg:hover:border-black">
        <span class="pb-1 md:pb-0 text-base text-gray-900 font-black">{$label}</span>
    </a>
</li>
