{block content}
    <div id="banner">
        <h1 n:block=title>Smazání položky menu {$menuItem->getContent()} {if $menuItem->getEvent() !== null}v {$menuItem->getEvent()->getNumber()}. ročníku{/if}</h1>
    </div>

    <div id="content">
        <p>Opravdu chcete smazat položku menu {$menuItem->getContent()} {if $menuItem->getEvent() !== null}v {$menuItem->getEvent()->getNumber()}. ročník s názvem <b>{$menuItem->getEvent()->getName()}</b> a {/if} ID {$menuItem->getId()}.</p>
        {control confirmForm}
        {if isset($event) && $event}
            <a href="{plink Menu:, $event->getNumber()}"><i class="fas fa-arrow-left"></i> Seznam položek menu {$event->getNumber()}. ročníku</a><br>
        {/if}
        <a href="{plink Menu:}"><i class="fas fa-arrow-left"></i> Seznam položek menu (bez ročníku)</a><br>
        <a href="{plink Events:}"><i class="fas fa-arrow-left"></i> Seznam ročníků</a>
    </div>
{/block}
