{define title}Diskuze{/define}
{block content}
    <div id="banner">
        <h1>Diskuze</h1>
        <h2>Vlákna</h2>
        <p>Vlákna jsou řazena dle poslední aktivity sestupně. Zobrazeno je maximálně {$threadsLimit} {if $threadsLimit > 1 && $threadsLimit < 5}vlákna{elseif $threadsLimit >= 5 || $threadsLimit === 0}vláken{else}vlákno{/if}, pro další vlákna použijte stránkování ve spodní části stránky.</p>
        {if count($threads) === 0}
            <div class="alert alert-info">Žádná diskuzní vlákna.</div>
        {/if}
        <hr>
        {foreach $threads as $thread}
            {var $lastSeenDiscussionAt = isset($acks[$thread->getId()]) ? $acks[$thread->getId()]->getAt() : null}
            {var $newForCurrentUser = $lastSeenDiscussionAt === null || $lastSeenDiscussionAt < $thread->getUpdatedAt()}
            <div>
                <a class="thread-name" href="{plink this, thread => $thread->getId(), page => $currentPage}" title="{$thread->getTitle()}">{$thread->getTitle()|truncate: 40}</a>
                <span class="badge badge-warning whitespace-pre" n:if="$thread->getEvent() instanceof \InstruktoriBrno\TMOU\Model\Event">TMOU {$thread->getEvent()->getNumber()}</span>
                <span class="block min-w-full xl:float-right xl:inline-block xl:w-auto text-sm xl:min-w-0">
                    {var $lastPost = $threadsLatestsPosts[$thread->getId()] ?? null}
                    {var $lastPostTimestamp = $lastPost !== null ? $lastPost->getCreatedAt()->format('j. n. Y. H:i') : $thread->getUpdatedAt()->format('j. n. Y. H:i')}
                    {if $lastPost !== null}
                        {var $lastPostAuthor = $lastPost->getTeam() ?? $lastPost->getOrganizator()}
                        {var $teamName = $lastPost->getTeam() !== null ? $lastPost->getTeam()->getName() : null}
                        {var $organizatorName = $lastPost->getOrganizator() !== null ? 'Organizátoři (' . $lastPost->getOrganizator()->getGivenName() . ' ' . $lastPost->getOrganizator()->getFamilyName() . ')' : null}
                        <span class="post-team-name" title="{$teamName ?? $organizatorName}">{$teamName ?? $organizatorName}</span>&nbsp;
                    {/if}
                    {if $newForCurrentUser}
                        <b title="Poslední příspěvek" class="block md:inline-block whitespace-pre">{$lastPostTimestamp}</b>
                    {else}
                        <span class="whitespace-pre" title="Poslední příspěvek">{$lastPostTimestamp}</span>
                    {/if}
                </span>
            </div>
            <hr>
        {/foreach}
        <div class="text-center">
            <a n:if="$currentPage !== 0" class="inline-block float-left" href="{plink this, page => $currentPage - 1}"><i class="fas fa-arrow-left"></i> Zobrazit novější vlákna</a>
            <a n:if="count($threads) === $threadsLimit" class="inline-block float-right" href="{plink this, page => $currentPage + 1}">Zobrazit starší vlákna <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div id="content">
        {if $user->isLoggedIn()}
            <h2>Založit nové vlákno</h2>
            {control newThreadForm}
            {$help}
        {/if}
    </div>
{/block}
