{block content}
    <div id="banner">
        <h1 n:block=title>Hrající týmy</h1>
    </div>

    <div id="content">
        <div class="alert alert-warning">Mezi hrající týmy (a tedy na TMOU) se dostanete teprve po zaplacení účastnického poplatku.</div>
        {include ../teamsStats.latte, teams => $teams}
        <hr />
        {include ../teamsList.latte, teams => $teams}
    </div>
{/block}
