{block content}
    <div id="banner">
        <h1 n:block=title>Registrované týmy</h1>
    </div>

    <div id="content">
        {include ../teamsStats.latte, teams => $teams}
        <hr />
        {include ../teamsList.latte, teams => $teams}
    </div>
{/block}
