# IDE related stuff
.idea
.history

# Configuration with sensitive credentials
app/config/local.neon

# Dependencies
vendor
!vendor/.htaccess

# Docker related stuff
.mysql
!mysql/.keep

# Deployment related stuff
composer.phar

# Assets
www/storage/*
!www/storage/.htaccess
