includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
	ignoreErrors:
	    - '#Unreachable statement - code above always terminates.#' # Some returns improves readability especially when exceptions are thrown from called method above (such as $presenter->redirect).
