parameters:
    canonical:
         url: http://tmou.test
    keycloak:
        authServerUrl:
        realm:
        clientId:
        clientSecret:
        redirectUri:
    mail:
        noReply:
        replyTo:
    sso:
        cookieName: TMOU_SSO
        jwtCookieName: TMOU_SSO_JWT
        cookieDomain: tmou.test
        expiration: '+2 days' # should be lower than session.expiration below
        jwt:
            algorithm: HS512
            secretKey: # secret key which is used to for encrypting and decrypting the JWT tokens
    mailgun:
        apiKey:
        apiBaseUrl:
        domain:
    cron:
        key:
    fio:
        apiURL: https://www.fio.cz/ib_api/rest/periods/__TOKEN__/__FROM__/__TO__/transactions.json
        token:
        notificationEmail:

recaptcha:
    siteKey: 6LdVSJwUAAAAAOBUowvrUg3I6JzKbbX22WDGwVso
    secretKey: 6LdVSJwUAAAAAFwQMlcmoLF8fwaUQFEgwl0aCshl

application:
    errorPresenter: Error
    mapping:
        *: InstruktoriBrno\TMOU\*Module\Presenters\*Presenter


session:
    expiration: 14 days


services:
    router: InstruktoriBrno\TMOU\Router\RouterFactory::createRouter
    - InstruktoriBrno\TMOU\Forms\FormFactory
    - InstruktoriBrno\TMOU\Services\Organizators\FindOrganizatorByKeycloakKeyService
    - InstruktoriBrno\TMOU\OAuth2\Client\Provider\Keycloak(%keycloak%, [], %debugMode%)
    - InstruktoriBrno\TMOU\Facades\Organizators\LoginOrganizatorViaKeycloakFacade
    - InstruktoriBrno\TMOU\Grids\DataGridFactory
    - InstruktoriBrno\TMOU\Grids\OrganizatorsGrid\OrganizatorsGridFactory
    - InstruktoriBrno\TMOU\Services\Organizators\FindOrganizatorForDataGrid
    - InstruktoriBrno\TMOU\Application\Authorizator
    - InstruktoriBrno\TMOU\Services\Events\FindEventsForDataGridService
    - InstruktoriBrno\TMOU\Grids\EventsGrid\EventsGridFactory
    - InstruktoriBrno\TMOU\Forms\EventFormFactory
    - InstruktoriBrno\TMOU\Services\Events\FindEventService
    - InstruktoriBrno\TMOU\Services\Events\FindEventByNumberService
    - InstruktoriBrno\TMOU\Facades\Events\SaveEventFacade
    - InstruktoriBrno\TMOU\Services\Events\IsEventNumberUniqueService
    - InstruktoriBrno\TMOU\Services\Events\FindEventForFormService
    - InstruktoriBrno\TMOU\Services\Events\FindLatestEventService
    - InstruktoriBrno\TMOU\Services\Events\FindDefaultEventValuesForFormService
    - InstruktoriBrno\TMOU\Forms\ConfirmFormFactory
    - InstruktoriBrno\TMOU\Services\Events\DeleteEventService
    - InstruktoriBrno\TMOU\Facades\Events\DeleteEventFacade
    - InstruktoriBrno\TMOU\Grids\PagesGrid\PagesGridFactory
    - InstruktoriBrno\TMOU\Services\Pages\FindPagesForDataGridService
    - InstruktoriBrno\TMOU\Services\Pages\FindPageService
    - InstruktoriBrno\TMOU\Forms\PageFormFactory
    - InstruktoriBrno\TMOU\Services\Pages\IsPageSLUGInEventUniqueService
    - InstruktoriBrno\TMOU\Facades\Pages\SavePageFacade
    - InstruktoriBrno\TMOU\Services\Pages\IsPageSLUGReservedService
    - InstruktoriBrno\TMOU\Services\Pages\FindPageForFormService
    - InstruktoriBrno\TMOU\Services\Pages\FindDefaultPageValuesForFormService
    - InstruktoriBrno\TMOU\Services\Pages\DeletePageService
    - InstruktoriBrno\TMOU\Facades\Pages\DeletePageFacade
    - InstruktoriBrno\TMOU\Services\Events\FindEventsPairsService
    - InstruktoriBrno\TMOU\Services\Pages\IsDefaultPageInEventUniqueService
    - InstruktoriBrno\TMOU\Services\Pages\FindPageInEventService
    latte.templateFactory:
        class: InstruktoriBrno\TMOU\Bridges\Latte\TemplateFactory
        setup:
            - injectGameClock
            - injectTeamMacroDataProvider
            - injectEventMacroDataProvider
    - InstruktoriBrno\TMOU\Services\System\GameClockService
    - InstruktoriBrno\TMOU\Services\System\RealClockService
    - InstruktoriBrno\TMOU\Services\Teams\TeamMacroDataProvider
    - InstruktoriBrno\TMOU\Services\Events\EventMacroDataProvider
    - InstruktoriBrno\TMOU\Forms\GameClockFormFactory
    - InstruktoriBrno\TMOU\Forms\TeamRegistrationFormFactory
    - InstruktoriBrno\TMOU\Services\Teams\GetTeamEventNumberService
    - InstruktoriBrno\TMOU\Services\Teams\IsTeamEmailInEventUniqueService
    - InstruktoriBrno\TMOU\Services\Teams\IsTeamNameInEventUniqueService
    - InstruktoriBrno\TMOU\Facades\Teams\RegisterTeamFacade
    - InstruktoriBrno\TMOU\Services\Teams\SendRegistrationEmailService(%mail.noReply%, %mail.replyTo%)
    - InstruktoriBrno\TMOU\Services\Teams\FindTeamsInEventService
    - InstruktoriBrno\TMOU\Grids\TeamsGrid\TeamsGridFactory
    - InstruktoriBrno\TMOU\Services\Teams\FindTeamsOfEventForDataGridService
    - InstruktoriBrno\TMOU\Services\Teams\FindTeamService
    - InstruktoriBrno\TMOU\Services\Teams\DeleteTeamService
    - InstruktoriBrno\TMOU\Facades\Teams\DeleteTeamFacade
    - InstruktoriBrno\TMOU\Forms\TeamLoginFormFactory
    - InstruktoriBrno\TMOU\Services\Teams\FindTeamByNameService
    - InstruktoriBrno\TMOU\Facades\Teams\TeamLoginFacade
    - InstruktoriBrno\TMOU\Services\Teams\TransformToImpersonatedIdentity
    - InstruktoriBrno\TMOU\Services\Teams\TransformBackFromImpersonatedIdentity
    - InstruktoriBrno\TMOU\Services\Organizators\FindOrganizatorByIdService
    - InstruktoriBrno\TMOU\Forms\TeamForgottenPasswordFormFactory
    - InstruktoriBrno\TMOU\Services\Teams\FindTeamByEmailService
    - InstruktoriBrno\TMOU\Services\Teams\SendResetPasswordEmailService(%mail.noReply%, %mail.replyTo%)
    - InstruktoriBrno\TMOU\Facades\Teams\RequestPasswordResetFacade
    - InstruktoriBrno\TMOU\Forms\TeamResetPasswordFormFactory
    - InstruktoriBrno\TMOU\Facades\Teams\ConsumePasswordResetFacade
    - InstruktoriBrno\TMOU\Services\Teams\FindTeamForFormService
    - InstruktoriBrno\TMOU\Facades\Teams\ChangeTeamFacade
    - InstruktoriBrno\TMOU\Services\System\IsSLUGReservedService
    - InstruktoriBrno\TMOU\Services\Events\FindEventsService
    - InstruktoriBrno\TMOU\Facades\Teams\CreateSSOSession(%sso.cookieName%, %sso.jwtCookieName%, %sso.cookieDomain%, %sso.expiration%)
    - InstruktoriBrno\TMOU\Facades\Teams\MaintainSSOSession(%sso.cookieName%, %sso.jwtCookieName%, %sso.cookieDomain%, %sso.expiration%)
    - InstruktoriBrno\TMOU\Facades\Teams\InvalidateSSOSession(%sso.cookieName%, %sso.jwtCookieName%, %sso.cookieDomain%)
    - InstruktoriBrno\TMOU\Commands\CleanSSOSessionsCommand
    - InstruktoriBrno\TMOU\Facades\Teams\CleanSSOSessions
    - InstruktoriBrno\TMOU\Services\Teams\ExportTeamMembersForNewsletterService
    - InstruktoriBrno\TMOU\Services\Teams\ExportAllTeamsService
    - InstruktoriBrno\TMOU\Forms\TeamBatchMailingFormFactory
    - InstruktoriBrno\TMOU\Services\Teams\FindTeamsPairsInEventService
    - InstruktoriBrno\TMOU\Services\Teams\FindTeamsForMailingInEventService
    - InstruktoriBrno\TMOU\Facades\Teams\BatchMailTeamsFacade(%mail.noReply%)
    - InstruktoriBrno\TMOU\Services\System\MailgunSenderService(%mailgun.apiKey%, %mailgun.apiBaseUrl%, %mailgun.domain%)
    - InstruktoriBrno\TMOU\Forms\TeamBatchGameStatusChangeFormFactory
    - InstruktoriBrno\TMOU\Facades\Teams\BatchGameStatusChangeFacade
    - InstruktoriBrno\TMOU\Services\Teams\ChangeTeamsGameStatusService
    - InstruktoriBrno\TMOU\Facades\Events\MatchPaymentsFacade(%fio.apiURL%, %fio.token%, %fio.notificationEmail%)
    - InstruktoriBrno\TMOU\Services\Teams\FindTeamByEventNumberService
    - InstruktoriBrno\TMOU\Services\Events\FindEventsWithMatchablePaymentsService
    - InstruktoriBrno\TMOU\Services\Teams\ChangeTeamsPaymentStatusService
    - InstruktoriBrno\TMOU\Services\Teams\SendPaymentsMatchingNotificationEmailService(%mail.noReply%, %fio.notificationEmail%)
    - InstruktoriBrno\TMOU\Utils\JWT(%sso.jwt.secretKey%, %sso.jwt.algorithm%)
    - InstruktoriBrno\TMOU\Facades\Teams\IsSSOValid
    - InstruktoriBrno\TMOU\Grids\MenuItemsGrid\MenuItemsGridFactory
    - InstruktoriBrno\TMOU\Services\MenuItems\FindMenuItemsForDataGridService
    - InstruktoriBrno\TMOU\Forms\MenuItemFormFactory
    - InstruktoriBrno\TMOU\Services\MenuItems\FindMenuItemService
    - InstruktoriBrno\TMOU\Facades\MenuItems\SaveMenuItemFacade
    - InstruktoriBrno\TMOU\Services\MenuItems\FindMenuItemForFormService
    - InstruktoriBrno\TMOU\Services\Pages\FindPagesPairsService
    - InstruktoriBrno\TMOU\Services\MenuItems\DeleteMenuItemService
    - InstruktoriBrno\TMOU\Facades\MenuItems\DeleteMenuItemFacade
    - InstruktoriBrno\TMOU\Services\MenuItems\FindMenuItemsForDisplayService
    - InstruktoriBrno\TMOU\Forms\TeamReviewFormFactory
    - InstruktoriBrno\TMOU\Facades\Teams\SaveTeamReviewFacade
    - InstruktoriBrno\TMOU\Services\Teams\FindTeamReviewForFormService
    - InstruktoriBrno\TMOU\Services\Events\FindEventTeamReviewsService
    - InstruktoriBrno\TMOU\Services\Files\FindStorageDirectoriesService
    - InstruktoriBrno\TMOU\Services\Files\FindStorageSubdirFilesService
    - InstruktoriBrno\TMOU\Forms\CreateNewDirectoryFormFactory
    - InstruktoriBrno\TMOU\Forms\UploadFileFormFactory
    - InstruktoriBrno\TMOU\Services\Files\UploadToStorageDirectoryService
    - InstruktoriBrno\TMOU\Services\Files\CreateNewDirectoryInStorageDirectoryService
    - InstruktoriBrno\TMOU\Services\Files\DeleteFileFromStorageDirectoryService
    - InstruktoriBrno\TMOU\Facades\Files\DeleteStorageFileFacade
    - InstruktoriBrno\TMOU\Forms\ChangeFileFormFactory
    - InstruktoriBrno\TMOU\Services\Files\FindStorageDirectoriesPairsService
    - InstruktoriBrno\TMOU\Services\Files\ChangeFileFromStorageDirectoryService
    - InstruktoriBrno\TMOU\Facades\Files\ChangeStorageFileFacade
    - InstruktoriBrno\TMOU\Forms\NewPostFormFactory
    - InstruktoriBrno\TMOU\Forms\NewThreadFormFactory
    - InstruktoriBrno\TMOU\Forms\ChangeThreadFormFactory
    - InstruktoriBrno\TMOU\Facades\Discussions\SaveNewThreadFacade
    - InstruktoriBrno\TMOU\Facades\Discussions\SaveThreadFacade
    - InstruktoriBrno\TMOU\Services\Discussions\FindThreadsService
    - InstruktoriBrno\TMOU\Services\Discussions\FindThreadService
    - InstruktoriBrno\TMOU\Services\Discussions\FindThreadForFormService
    - InstruktoriBrno\TMOU\Services\Discussions\FindThreadPostsService
    - InstruktoriBrno\TMOU\Facades\Discussions\SaveNewPostFacade
    - InstruktoriBrno\TMOU\Facades\Discussions\ToggleHidePostFacade
    - InstruktoriBrno\TMOU\Facades\Discussions\ToggleLockThreadFacade
    - InstruktoriBrno\TMOU\Services\Discussions\FindPostService
    - InstruktoriBrno\TMOU\Facades\Discussions\MarkThreadAsReadFacade
    - InstruktoriBrno\TMOU\Services\Events\FindEventsPairsOpenedForDiscussionService
    - InstruktoriBrno\TMOU\Commands\CreateTestDataCommand
    - InstruktoriBrno\TMOU\Facades\System\CreateTestDataFacade
    - InstruktoriBrno\TMOU\Forms\CopyEventContentFormFactory
    - InstruktoriBrno\TMOU\Services\MenuItems\FindMenuItemsInEventService
    - InstruktoriBrno\TMOU\Services\Pages\FindPagesInEventService
    - InstruktoriBrno\TMOU\Facades\System\CopyEventContentFacade
    - InstruktoriBrno\TMOU\Services\Discussions\FindLastPostsForThreads
    - InstruktoriBrno\TMOU\Services\Discussions\FindCountsForThreads
    - InstruktoriBrno\TMOU\Services\Discussions\FindThreadAcknowledgementByOrganizatorService
    - InstruktoriBrno\TMOU\Services\Discussions\FindThreadAcknowledgementByTeamService
    - InstruktoriBrno\TMOU\Services\Discussions\FindThreadAcknowledgementByThreadsAndUserService
    - InstruktoriBrno\TMOU\Services\System\RememberedNicknameService

extensions:
    nextras.form: Nextras\Forms\Bridges\NetteDI\FormsExtension
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    dbal: Nettrine\DBAL\DI\DbalExtension
    orm: Nettrine\ORM\DI\OrmExtension
    orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
    orm.console: Nettrine\ORM\DI\OrmConsoleExtension
    orm.cache: Nettrine\ORM\DI\OrmCacheExtension
    migrations: Nettrine\Migrations\DI\MigrationsExtension
    recaptcha: Contributte\ReCaptcha\DI\ReCaptchaExtension

migrations:
    table: doctrine_migrations
    column: version
    directory: %appDir%/../App/Migrations
    namespace: InstruktoriBrno\TMOU\Migrations
    versionsOrganization: null # null, year, year_and_month
    customTemplate: null # path to custom template

decorator:
    InstruktoriBrno\TMOU\Presenters\BasePresenter:
        setup:
            - setBuildTime(%buildTime%)
    InstruktoriBrno\TMOU\Presenters\Error4xxPresenter:
        setup:
            - setBuildTime(%buildTime%)
    InstruktoriBrno\TMOU\Presenters\CronPresenter:
        setup:
            - setApiKey(%cron.key%)
dbal:
    debug: true
    connection:
        wrapperClass: InstruktoriBrno\TMOU\Utils\TunedConnection
        host: db
        user: tmou
        password: password
        dbname: tmou
        persistent: false
        charset: utf8mb4
        types:
            uuid_binary:
                class: Ramsey\Uuid\Doctrine\UuidBinaryType
                commented: uuid_binary
            organizator_role:
                class: InstruktoriBrno\TMOU\Model\DoctrineTypes\OrganizatorRoleDoctrineType
                commented: organizator_role
            game_status:
                class: InstruktoriBrno\TMOU\Model\DoctrineTypes\GameStatusType
                commented: game_status
            payment_status:
                class: InstruktoriBrno\TMOU\Model\DoctrineTypes\PaymentStatusType
                commented: payment_status
        typesMapping:
            uuid_binary: binary

orm.cache:
    defaultDriver: filesystem

orm.annotations:
    paths:
        - %appDir%/Model
    excludePaths: []
    ignore: []
    defaultCache: filesystem

console:
    name: TMOU web
    catchExceptions: true
    autoExit: true
    lazy: true
    url: %canonical.url%
