parameters:
    canonical:
         url: http://tmou.test
    keycloak:
        authServerUrl:
        realm:
        clientId:
        clientSecret:
        redirectUri:

recaptcha:
    siteKey: 6LdVSJwUAAAAAOBUowvrUg3I6JzKbbX22WDGwVso
    secretKey: 6LdVSJwUAAAAAFwQMlcmoLF8fwaUQFEgwl0aCshl

application:
    errorPresenter: Error
    mapping:
        *: InstruktoriBrno\TMOU\*Module\Presenters\*Presenter


session:
    expiration: 14 days


services:
    router: InstruktoriBrno\TMOU\Router\RouterFactory::createRouter
    - InstruktoriBrno\TMOU\Forms\FormFactory
    - InstruktoriBrno\TMOU\Services\Organizators\FindOrganizatorByKeycloakKeyService
    - InstruktoriBrno\TMOU\OAuth2\Client\Provider\Keycloak(%keycloak%, [], %debugMode%)
    - InstruktoriBrno\TMOU\Facades\Organizators\LoginOrganizatorViaKeycloakFacade
    - InstruktoriBrno\TMOU\Grids\DataGridFactory
    - InstruktoriBrno\TMOU\Grids\OrganizatorsGrid\OrganizatorsGridFactory
    - InstruktoriBrno\TMOU\Services\Organizators\FindOrganizatorForDataGrid
    - InstruktoriBrno\TMOU\Application\Authorizator

extensions:
    nextras.form: Nextras\Forms\Bridges\NetteDI\FormsExtension
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    dbal: Nettrine\DBAL\DI\DbalExtension
    orm: Nettrine\ORM\DI\OrmExtension
    orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
    orm.console: Nettrine\ORM\DI\OrmConsoleExtension
    orm.cache: Nettrine\ORM\DI\OrmCacheExtension
    migrations: Nettrine\Migrations\DI\MigrationsExtension
    recaptcha: Contributte\ReCaptcha\DI\ReCaptchaExtension

migrations:
    table: doctrine_migrations
    column: version
    directory: %appDir%/../App/Migrations
    namespace: InstruktoriBrno\TMOU\Migrations
    versionsOrganization: null # null, year, year_and_month
    customTemplate: null # path to custom template

dbal:
    debug: %debugMode%
    connection:
        host: db
        user: tmou
        password: password
        dbname: tmou
        types:
            uuid_binary:
                class: Ramsey\Uuid\Doctrine\UuidBinaryType
                commented: uuid_binary
            organizator_role:
                class: InstruktoriBrno\TMOU\Model\DoctrineTypes\OrganizatorRoleDoctrineType
                commented: organizator_role
        typesMapping:
            uuid_binary: binary

orm.cache:
    defaultDriver: filesystem

orm.annotations:
    paths:
        - %appDir%/Model
    excludePaths: []
    ignore: []
    defaultCache: filesystem

console:
    name: TMOU web
    catchExceptions: true
    autoExit: true
    lazy: true
    url: %canonical.url%
