{block content}
    <div id="banner">
        <h1 n:block=title>Administrace</h1>
    </div>

    <div id="content">
        <ul class="list-disc ml-6">
            <li><a href="{plink Admin:organizators}">Organizátoři</a></li>
            <li><a href="{plink Events:}">Ročníky</a></li>
            <li><a href="{plink AdminPages:}">Stránky bez ročníku</a></li>
            <li><a href="{plink Admin:logout}">Odhlásit</a></li>
        </ul>
    </div>
{/block}
