{block content}
    <div id="banner">
        <h1 n:block=title>{if $event !== null}Stránky {$event->getNumber()}. ročníku{else}Stránky mimo ročníky{/if}</h1>
    </div>

    <div id="content">
        {control pagesGrid}
        <a href="{plink Events:}"><i class="fas fa-arrow-left"></i> Seznam ročníků</a>
    </div>
{/block}
