@import url('../fonts/latofonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/*! purgecss start ignore */

@screen no {
    .container {
        @apply min-w-full px-0;
    }
}

@screen sm {
    .container {
        @apply min-w-full px-0;
    }
}

@screen md {
    .container {
        @apply min-w-full px-0;
    }
}

@screen lg {
    .container {
        @apply min-w-0;
    }
}

html {
    font-family: 'LatoWeb', sans-serif;
}

b,
strong,
.font-bold {
    font-family: 'LatoWebBold', sans-serif;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content li {
    display: block;
}

.dropdown-content li:hover {
}

.dropdown:hover .dropdown-content {
    display: block;
}

.corner-frame {
    display: inline-block;
    position: relative;
    z-index: -1;
    @apply inset-0;
}

.corner-frame:after {
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: -25px;
    border-top: 4px solid white;
    border-left: 4px solid white;
    @apply rounded-lg rounded-r-none rounded-b-none;
}

.corner-frame:before {
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    right: -25px;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    @apply rounded-lg rounded-t-none rounded-l-none;
}

p {
    @apply text-left py-2;
}

@screen md {
    p {
        @apply text-justify;
    }
}

h1 {
    @apply text-3xl font-bold break-normal mb-4
}

h2 {
    @apply text-2xl mb-1 mt-4
}

h3 {
    @apply text-xl mb-0 mt-4
}

h4 {
    @apply text-lg mb-0 mt-3 italic
}

pre {
    @apply text-xs
}

a:hover {
    /*TODO: */
}

/* Bootstrap bridge */
.form-group {
    @apply mb-4
}
.form-group .col-form-label {
    @apply mb-1
}
.form-group.required label:after,
span.required-footnote {
    content: " *";
    @apply text-red-400
}
.form-control {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight bg-white
}
.form-control:focus {
    @apply outline-none shadow-outline
}
.form-control[disabled] {
    @apply bg-gray-200
}
.form-control.is-invalid {
    @apply border-red-400
}
select.form-control {
    background: transparent url('../images/caret-down.svg') no-repeat 60px center;
    background-position-x: right;
    background-size: 25px;
    font-size: 100%;
}

select.form-control[multiple] {
    background: transparent;
}

textarea {
    font-size: 100%;
}
.form-check-input {
    @apply mr-2 leading-tight
}
.form-check-label {

}
.invalid-feedback {
    @apply text-red-400 text-sm
}

.text-muted {
    @apply text-gray-400
}

legend {
    @apply text-xl pt-6 mb-2
}

.btn {
    @apply px-4 py-2 font-bold rounded appearance-none
}

.btn-small {
    @apply px-2 py-1
}

.btn-primary {
    @apply bg-yellow-tmou shadow cursor-pointer
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    box-shadow: 0 0 0 3px rgba(180, 180, 180, 0.5);

    @apply bg-yellow-tmou outline-none
}

.btn-danger {
    @apply bg-danger-tmou
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
    box-shadow: 0 0 0 3px rgba(180, 180, 180, 0.5);

    @apply bg-danger-tmou outline-none
}

.btn-secondary {
    @apply text-black shadow cursor-pointer
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    box-shadow: 0 0 0 3px rgba(180, 180, 180, 0.5);

    @apply bg-info-tmou outline-none
}
.page-content a.btn {
    @apply no-underline
}

.alert {
    @apply p-4 rounded mb-4
}
.alert-danger,
.badge-danger {
    @apply bg-danger-tmou
}
.alert-info,
.badge-default,
.badge-info {
    @apply bg-info-tmou
}
.alert-warning,
.badge-warning {
    @apply bg-warning-tmou
}
.alert-success,
.badge-success {
    @apply bg-success-tmou
}

.dropdown-menu {
    @apply absolute bg-white m-2 border hidden shadow-md
}

.badge {
    @apply rounded p-1
}

/* Tables */


.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.bg-fail-tmou {
    background-color: #da4e4c;
}

.bg-hint-tmou {
    background-color: #8CA4C8;
}

.bg-hint-capitulation-tmou {
    background-image: linear-gradient(to right, #8CA4C8, #DA4E4C);
}

/* Datagrid */
.datagrid {
    @apply p-0 !important
}
.datagrid .table-sm {
    @apply text-sm w-full border-collapse bg-white
}
.datagrid td,
.datagrid th {
    @apply border p-1
}

.datagrid tr:nth-of-type(odd) {
    @apply bg-gray-100
}
.datagrid table thead tr.row-group-actions th {
    @apply bg-gray-100
}

.datagrid .col-per-page select {
    @apply w-full bg-white p-2 !important
}

.datagrid a.btn {
    padding: 4px 5px;
    text-decoration: none;
}

.datagrid .fa-gear::before {
    content: ""; /* Replace with fa-cog */
}

.datagrid .fa-check-square-o::before {
    content: ""; /* Replace with fa-check-square */
}

.datagrid .fa-square-o::before {
    content: ""; /* Replace with fa-square */
}

.datagrid .fa-repeat::before {
    content: ""; /* Replace with fa-redo */
}

.datagrid input[type=text] {
    @apply px-0;
}

.datagrid .show {
    display: block;
}

.datagrid-settings ul,
.datagrid-column-header-additions ul {
    text-align: left;
    list-style-type: none !important;
}

.datagrid-settings ul li,
.datagrid-column-header-additions ul li {
    margin-left: 0;
}

.datagrid-settings ul.dropdown-menu,
.datagrid-column-header-additions ul.dropdown-menu {
    padding: 5px;
}

.datagrid-settings ul li a,
.datagrid-column-header-additions ul li a {
    text-decoration: none;
}

/* Make links underlined in page content (white blocks) */
.page-content a {
    @apply underline
}
.page-content a:hover {
    @apply text-gray-500
}

.page-content ul {
    @apply list-disc my-2
}

.page-content ol {
    @apply list-decimal my-2
}

.page-content li {
    @apply ml-6
}

.page-content hr {
    @apply my-4
}

/* Extra utils class */
.bg-black-60\% {
    background: rgba(0,0,0, 0.6);
}

/* Fix scaling images*/
.fixed-size {
    max-width: none;
}


/* Fix Tracy bar */
#tracy-debug-bar img {
    display: inline-block;
}

.parallax {
    perspective: 1px;

    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* This disables parallax on mobiles as it works very quirky there */
}

.parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax-layer-base {
    transform: translateZ(0);
}

.parallax-layer-middle {
    transform: translateZ(-1px) scale(2) translateY(-290px);
}

/* fix for the city appearing back down on scrolling */
@media only screen and (max-width: 1425px), (max-height: 915px) {
    .parallax-layer-middle {
        transform: translateZ(-2px) scale(3) translateY(-290px);
    }
}

/* fix landscapes mobiles */
@media only screen and (max-height: 560px) {
    .parallax-layer-middle {
        transform: translateZ(-2px) scale(3) translateY(-200px);
    }
}

@media only screen and (max-height: 340px) {
    .parallax-layer-middle {
        transform: translateZ(-2px) scale(3) translateY(-150px);
    }
}

#make-keyboard-scrolling-great-again {
    width: 1px;
    height: 1px;
    text-indent: -9999px;
}
.parallax-layer-back {
    transform: translateZ(-2px) translateY(-40vh) scale(3);
}

.collapse {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s cubic-bezier(0, 1, 0, 1);
}

.collapse.show {
    max-height: 99999em;
    transition: max-height .5s ease-in-out;
    overflow: visible;
}

a.collapse-toggle {
    display: inline-block;
    text-decoration: none;
}

iframe.mail-preview {
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    width: 100%;
    min-height: 200px;
    margin-bottom: 1rem;
}

.collapse-no-bottom-margin {
    margin-bottom: 0;
}

code {
    border: 1px solid #e0e0e0;
    background: #e0e0e0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    display: block;
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: monospace;
}

.datagrid .btn[name="group_action[submit]"] {
    display: inline-block !important;
}
.datagrid .btn[hidden] {
    display: none !important;
}

table.log-output {
    @apply font-mono text-xs mb-2;
}
table.log-output tr {
    @apply mb-1;
}
table.log-output td {
    @apply text-gray-500 p-1;
}
table.log-output td.success {
    @apply text-success-tmou;
}

table.log-output td.attention {
    color: #da4e4c;
}

.avatar {
    width: 64px;
    height: 64px;
    line-height: 64px;
    overflow: hidden;
}
.post-content {
    padding-left: 80px;
    font-size: 85%;
}

.post-header-clearer {
    padding-left: 80px;
    width: 100%;
    float: right;
}

.post-header {
    padding-left: 80px;
}

.post-team-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 260px;
    display: block;
    float: left;
}

blockquote {
    @apply border-l-2 border-gray-400 ml-0 pl-4 bg-gray-100
}

.bottomed-th {
    vertical-align: bottom !important;
}

.rotate-th-270 {
    writing-mode: vertical-lr; /* Rotate text vertically from left to right */
    transform: rotate(180deg); /* Optional: Rotate text by 180 degrees to make it upright */
    white-space: nowrap; /* Optional: Prevent text wrapping */
}

.qualification-border {
    border-top: 10px solid black !important;
}

/* This moves a.anchor to top to prevent content hidden under header in small layouts */
a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

/* Force max height on table-responsive-scrollable to allow sticky header and hide all other thead to prevent empty space after the table */
@media only screen and (max-height: 800px) {
    .table-responsive-max-height,
    .table-responsive-max-height {
        max-height: calc(100vh - 180px);
    }
    .table-responsive-max-height thead:not(:first-of-type) {
        display: none;
    }
}

/*! purgecss end ignore */
