{block content}
    <div id="banner">
        <h1 n:block=title>Smazání {$event->getNumber()}. ročníku ({$event->getName()})</h1>
    </div>

    <div id="content">
        <p>Opravdu chcete smazat {$event->getNumber()}. ročník s názvem <b>{$event->getName()}</b> a ID {$event->getId()}. Pokud ano, ujistěte se nejprve, že jsou smazané všechny stránky a položky menu ročníku.</p>
        {control confirmForm}
        <a href="{plink Events:}"><i class="fas fa-arrow-left"></i> Seznam ročníků</a>
    </div>
{/block}
