{block content}
    <div id="banner">
        <h1 n:block=title>Hromadné mailování {$event->getNumber()}. ročníku</h1>
    </div>

    <div id="content">
        <p>Vyberte kterým konkrétním týmům chcete hromadný e-mail zaslat nebo zobecněte výběr pomocí výběru celého stavu týmu &ndash; můžete vybrat více hodnot pomocí klávesy CTRL. Výběr e-mailů bude spojen a deduplikován. Můžete použít Texy formátování, ale používejte ho s rozvahou.</p>

        <div class="alert alert-warning">
            Platební informace posílejte až poté, co budou týmy změněny do stavu kvalifikovaný. Jinak budete muset ručně párovat platby, které příjdou dříve než týmy do stavu kvalifikovaný přepnete.
        </div>

        {ifset $previews}
            {foreach $previews as $preview}
                <a href="#preview-{$iterator->counter}-wrapper" class="btn btn-secondary collapse-toggle" title=" {$iterator->counter}." type="button">Zobrazit {$iterator->counter}.</a>
                <div id="preview-{$iterator->counter}-wrapper" class="collapse collapse-no-bottom-margin">
                    Pro: {$preview['teamName']} (ID {$preview['teamId']}, číslo {$preview['teamNumber']})<br>
                    Předmět: <b>{$preview['subject']}</b><br>
                    <iframe class="mail-preview" id="preview-{$iterator->counter}"></iframe>
                </div>
                <script>
                    document.querySelector('#preview-{$iterator->counter}').contentWindow.document.write({$preview['body']});
                    document.querySelector('#preview-{$iterator->counter}').contentWindow.document.close();
                </script>
            {/foreach}
        {/ifset}
        {control batchMailing}

        <h2>Nápověda</h2>
        {$help}

        <a href="{plink AdminPages:, $event->getNumber()}"><i class="fas fa-arrow-left"></i> Seznam stránek {$event->getNumber()}. ročníku</a><br>
        <a href="{plink Events:}"><i class="fas fa-arrow-left"></i> Seznam ročníků</a><br>
    </div>
{/block}
