{block content}
    <div id="banner">
        <h1 n:block=title>Smazání týmu {$team->getName()} v {$team->getEvent()->getNumber()}. ročníku</h1>
    </div>

    <div id="content">
        <p>Opravdu chcete smazat stránku {$team->getName()} v {$team->getEvent()->getNumber()}. ročníku s názvem <b>{$team->getEvent()->getName()}</b> a ID týmu {$team->getId()}.</p>
        {control confirmForm}
        <a href="{plink Teams:, $event->getNumber()}"><i class="fas fa-arrow-left"></i> Seznam týmů {$event->getNumber()}. ročníku</a><br>
    </div>
{/block}
